<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsun.ex76buletoothtest">
    <!-- 블루투스를 쓰겠다 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 블루투스 관리자도 필요 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--
    마시멜로우부터 생긴 기능, 주변의 불루투스 장치를 탐색하려면 location  퍼미션이 필요
server에서는 필요하지않음. client에서만 필요
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".BTDevicesListActivity" android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
        <activity android:name=".ClientActivity" />
        <activity android:name=".ServerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>